body{
    font-family: 'Roboto', Times, serif;
    display: flex;
    width: 100vw;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(177, 149, 121);
    color: white;
    font-size: 20px;
    flex-shrink: 0;
}

#buttons{
    font-family: 'Roboto', Times, serif;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    max-width: 500px;
}

#score{
    width: 500px;
    height: 25px;
    max-width: 500px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}
#result{
    width: 500px;
    height: 25px;
    max-width: 500px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}
button{
    background-color: rgb(94, 94, 171);
    color: rgb(196, 174, 151);
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: 20px;
}